:root {
  --color: rgb(68, 66, 66);
  --aboutbgColor:white;
  --themeColor:rgb(128 5 251);


}
.dark-theme {
  --color: rgb(246, 244, 244);
  --aboutbgColor:rgb(31, 31, 31);
  --themeColor:rgb(128 5 251);
}

/* Base Styles */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 20px;
  background-color: var(--aboutbgColor);
  position: relative;
}

.about--img .honorsAndAwards {
  width: 400px;
}

.about--content {
  text-align: center;
  font-size: 25px;
  word-spacing: 1px;
  color: var(--themeColor);
  transform: translateY(-90%);
}
.about--content h4{
  color: var(--themeColor);
}

.about--content {
  width: 500px;
  height: 125px;
  text-align: justify;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-size: 15px;
  line-height: 20px;
  color: var(--color);
}

/* Media Queries */
@media only screen and (max-width: 576px) {
  .about {
    flex-direction: column;
    padding-top: 1rem;
    /* background-color: red; */
    overflow-y: scroll;
    height: 1200px;
  }


  .about--img .honorsAndAwards {
    width: 200px;
    height: 200px;
    transform: translateY(-340px);
  }

  .about--content {
    width: 200px;
    text-align: justify;
    font-size: 14px;
    line-height: 23px;
    color: var(--color);
    transform: translateY(-350px);
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .about {
    flex-direction: column;
    /* padding-top: 1rem; */
    overflow-y: scroll;
    height: 1000px;
  }

  .about--img .honorsAndAwards {
    width: 400px;
    height: 400px;
    transform: translateY(-173px);
  }

  .about--content{
    width: 400px;
    height: 100px;
    font-size: 14px;
    line-height: 22px;
    transform: translateY(-183px);
    margin: 5px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 992px) {
  .about {
    flex-direction: column;
    /* padding-top: 1rem; */
    overflow-y: scroll;
    height: 1000px;
  }

  .about--img .honorsAndAwards {
    width: 400px;
    height: 400px;
    transform: translateY(-170px);
  }

  .about--content {
    font-size: 16px;
  }

  .about--content{
    width: 400px;
    height: 100px;
    font-size: 14px;
    line-height: 22px;
    transform: translateY(-183px);
    margin: 5px;
  }
}
