:root {
  --contactColor: rgb(68, 66, 66);
  --contactbgColor:white;
  --contactImageOpacity:1.0;
  --inputbgColor:rgb(238 233 237);
  --inputplaceholderColor:black;
  --inputFocusColor:rgb(68, 66, 66);
  --inputTextColor:black;

}
.dark-theme {
  --contactColor: #c5c5c5;
  --contactbgColor:rgb(31, 31, 31);
  --contactImageOpacity:0.8;
  --inputbgColor:rgb(158, 156, 156);
  --inputplaceholderColor:white;
  --inputFocusColor:#f7f2f2;
  --inputTextColor:white;
}



.contactFull{
  background-color: var(--contactbgColor);
}
/* Base Styles */
.contactp {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--contactbgColor);
}

.contactp-card {
  width: 70%;
  height: 400px;
  transform: translateY(-30px);
  background-color: var(--contactbgColor);
}

.contactp-card1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contactp-card1--form {
  margin-left: 30px;
  flex-grow: 1;
}

.contactp-card1 h4 {
  color: var(--themeColor);
}

.contactp-card1 .name,
.contactp-card1 .feedback {
  font-size: 15px;
  padding: 7px 0px;
  color: var(--contactColor);
  display: inline-block;
}

.contactp-card1 .nameInput,
.contactp-card1 .textareaInput {
  width: 100%;
  border: 2px solid transparent;
  color: var(--inputTextColor);
  outline: none;
  background-color: var(--inputbgColor);
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.3s ease-in;
}
input::placeholder,
textarea::placeholder {
    color: var(--inputplaceholderColor);
}

.contactp-card1 .nameInput:focus,
.contactp-card1 .textareaInput:focus {
  border: 2px solid var(--inputFocusColor);
}

.contactp-card1 .textareaInput {
  resize: none;
}

.contactp-card1 .contact-send-btn {
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--themeColor);
  opacity: var(--contactImageOpacity);
  cursor: pointer;
  transition: 0.3s;
  color: white;
}

.contactp-card1 .contact-send-btn:hover {
  background-color: var(--themeColor);
}

.contactp-card1 .name-feed,
.contactp-card1 .text-feed {
  font-size: 13px;
}

.contactp-card1 .text-feed {
  display: inline-block;
  transform: translateY(-8px);
}

.contactp-card1--img {
  width: 400px;
}

.contactp-card1--img img {
  margin-left: 50px;
  width: 300px;
  opacity: var(--contactImageOpacity);
}


/* Media Queries */
@media only screen and (max-width: 576px) {
  .contactp {
    display: initial;
  }

  .contactp-card {
    width: 100vw;
    height: 100vh;
    transform: translateY(10%);
  }

  .contactp-card1 {
    margin: auto;
    width: 100vw;
    height: auto;
    flex-direction: column;
  }

  .contactp-card1--form {
    margin-left: 0px;
    flex-grow: 0;
  }

  .contactp-card1--form h4 {
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .contactp-card1--img {
    width: 200px;
  }

  .contactp-card1--img img {
    margin-left: 20px;
    width: 180px;
  }
}

/* Landscape Mode */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .contactp {
    display: initial;
  }

  .contactp-card {
    width: 100vw;
    height: 500px;
  }

  .contactp-card1 {
    width: 100vw;
    height: 100vh;
    padding-top: 160px;
    flex-direction: column;
  }

  .contactp-card1--form {
    margin-left: 30px;
    width: 20rem;
    transform: translateY(14px);
  }

  .contactp-card1--form h4 {
    /* color: green; */
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .contactp-card1--form .name,
  .contactp-card1--form .feedback {
    font-size: 13px;
    padding: 2px 0px;
    /* color: gray; */
    display: inline-block;
  }

  .contactp-card1--form .nameInput,
  .contactp-card1--form .textareaInput {
    width: 100%;
    padding: 2px;
    font-size: 14px;
  }

  .contactp-card1--form .textareaInput {
    height: 60px;
  }

  .contactp-card1--form .contact-send-btn {
    font-size: 13px;
    padding: 5px;
  }

  .contactp-card1--form .name-feed,
  .contactp-card1--form .text-feed {
    font-size: 12px;
  }

  .contactp-card1--img {
    width: 190px;
  }

  .contactp-card1--img img {
    margin-left: 20px;
    width: 240px;
  }
}

/* Tab Mode */
@media only screen and (min-width: 767px) and (max-width: 992px) {
  .contactFull{
    background-color: var(--contactbgColor);
  }
  .contactp {
    display: initial;
  }

  .contactp-card {
    width: 100vw;
    height: 1000px;
  }

  .contactp-card1 {
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    flex-direction: column;
  }

  .contactp-card1--form {
    margin-left: 0px;
    flex-grow: 0;
    width: 70vw;
    transform: translateY(50px);
  }

  .contactp-card1--form h4 {
    font-size: 17px;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .contactp-card1--img {
    width: 350px;
  }

  .contactp-card1--img img {
    margin-left: 0px;
    width: 350px;
    transform: translateY(50px);
  }
}

/* Large Desktop Mode */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .contactFull{
   background-color: var(--contactbgColor);
  }
  .contactp {
    display: initial;
  }

  .contactp-card {
    width: 100vw;
    height:1000px;
  }

  .contactp-card1 {
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    flex-direction: column;
  }

  .contactp-card1--form {
    margin-left: 0px;
    flex-grow: 0;
    width: 70vw;
    transform: translateY(90px);
  }

  .contactp-card1--form h4 {
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .contactp-card1--img {
    width: 350px;
  }

  .contactp-card1--img img {
    margin-left: 0px;
    width: 350px;
    transform: translateY(88px);
  }
}

