
:root {
  --color: rgb(68, 66, 66);
  --publishesbgColor:white;
  --themeColor:rgb(128 5 251);
  --boxShadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  --marginTop: 95px;
  --width: 480px;
  --height: 480px;


}

.dark-theme {
  --color: rgb(246, 244, 244);
  --publishesbgColor:rgb(31, 31, 31);
  --boxShadow: rgba(248, 248, 248, 0.3) 0px 1px 2px 0px, rgba(251, 251, 252, 0.15) 0px 1px 3px 1px;
  --themeColor:rgb(128 5 251);
  --marginTop: 70px;
  --width: 480px;
  --height: 450px;
}
/* Base Styles */
.publishes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 20px;
    background-color: var(--publishesbgColor);
    position: relative;
  }
  
  .publishes--img .deployImage {
    margin-top: var(--marginTop);
    width: var(--width);
    height: var(--height);
  }
  
  .publishes--content h4{
    color: var(--themeColor);
  }
  
  .publishes--content {
    width: 500px;
    height: 400px;
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 17px;
    line-height: 20px;
    color: var(--color);
  }
  
  .none {
    display: none;
  }
  
  .block {
    display: inline;
  }
  .webapp{
  box-shadow: var(--boxShadow);
  padding: 5px;
  margin: 5px;
  word-wrap: break-word;
  }
  
  
  
  /* Media Queries */
  @media only screen and (max-width: 576px) {
    .publishes {
      flex-direction: column;
      padding-top: 1rem;
      height: 1300px;
    }
  
  
    .publishes--img .deployImage {
      width: 300px;
      height: 300px;
      transform: translateY(-320px);
    }
  
    .publishes--content {
      width: 300px;
      height: 250px;
      text-align: justify;
      line-height: 23px;
      color: rgb(68, 66, 66);
      word-spacing: 1px;
      transform: translateY(-310px);
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .publishes {
      flex-direction: column;
      padding-top: 1rem;
      height: 1300px;
    }
  
    .publishes--img .deployImage {
      width: 400px;
      height:350px;
      transform: translateY(-350px);
    }
  
    .publishes--content{
      width: 400px;
      height: 100px;
      line-height: 22px;
      transform: translateY(-343px);
      margin: 5px;
    }
  }
  
  @media only screen and (min-width: 767px) and (max-width: 992px) {
    .publishes {
      flex-direction: column;
      padding-top: 1rem;
      height: 1300px;
    }
  
    .publishes--img .deployImage {
      width: 500px;
      height: 480px;
      transform: translateY(-210px);
    }
  
  
    .publishes--content {
      width: 500px;
      height: 300px;
      line-height: 22px;
      transform: translateY(-210px);
    }
  }
  
  