
:root {
  --publishesColor: rgb(68, 66, 66);
  --publishesbgColor:white;
  --themeColor:rgb(128 5 251);
  --publishesBoxShadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  --publishesMarginTop: 95px;
  --publishesWidth: 480px;
  --publishesHeight: 480px;
  --publishesAnchorTagColor: rgb(128 5 251);
  --publishesImageOpacity:1.0;
}

.dark-theme {
  --publishesColor: #c5c5c5;
  --publishesbgColor:rgb(31, 31, 31);
  --themeColor:rgb(128 5 251);
  --publishesBoxShadow: rgba(248, 248, 248, 0.3) 0px 1px 2px 0px, rgba(251, 251, 252, 0.15) 0px 1px 3px 1px;
  --publishesMarginTop: 70px;
  --publishesWidth: 480px;
  --publishesHeight: 458px;
  --publishesAnchorTagColor: #58a6ff;
  --publishesImageOpacity:0.8;
}
/* Base Styles */
.publishes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 20px;
    background-color: var(--publishesbgColor);
    position: relative;
  }
  .publishes--content a{
    color: var(--publishesAnchorTagColor);

  }
  
  .publishes--img .deployImage {
    margin-top: var(--publishesMarginTop);
    width: var(--publishesWidth);
    height: var(--publishesHeight);
    opacity: var(--publishesImageOpacity);
  }
  
  .publishes--content h4{
    color: var(--themeColor);
  }
  
  .publishes--content {
    width: 500px;
    height: 400px;
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 17px;
    line-height: 20px;
    color: var(--publishesColor);
  }
  
  .none {
    display: none;
  }
  
  .block {
    display: inline;
  }
  .webapp{
  box-shadow: var(--publishesBoxShadow);
  padding: 5px;
  margin: 5px;
  word-wrap: break-word;
  }
  
  
  
  /* Media Queries */
  @media only screen and (max-width: 576px) {
    .publishes {
      flex-direction: column;
      padding-top: 1rem;
      height: 1300px;
    }
  
  
    .publishes--img .deployImage {
      width: 300px;
      height: 300px;
      transform: translateY(-320px);
    }
  
    .publishes--content {
      width: 300px;
      height: 250px;
      text-align: justify;
      line-height: 23px;
      word-spacing: 1px;
      transform: translateY(-310px);
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .publishes {
      flex-direction: column;
      padding-top: 1rem;
      height: 1300px;
    }
  
    .publishes--img .deployImage {
      width: 400px;
      height:350px;
      transform: translateY(-350px);
    }
  
    .publishes--content{
      width: 400px;
      height: 100px;
      line-height: 22px;
      transform: translateY(-343px);
      margin: 5px;
    }
  }
  
  @media only screen and (min-width: 767px) and (max-width: 992px) {
    .publishes {
      flex-direction: column;
      padding-top: 1rem;
      height: 1300px;
    }
  
    .publishes--img .deployImage {
      width: 500px;
      height: 480px;
      transform: translateY(-210px);
    }
  
  
    .publishes--content {
      width: 500px;
      height: 300px;
      line-height: 22px;
      transform: translateY(-210px);
    }
  }
  
  