:root {
   --resumecolor: rgb(68, 66, 66);
   /* --resumecolor:rgb(245, 11, 11); */
  --resumebgColor:white; 
  --themeColor:rgb(128 5 251);
  --resumeAnchorTagColor: rgb(128 5 251);
  --resumeUnderline:rgb(100, 100, 100);

}
.dark-theme {

   --resumecolor: #c5c5c5;
   --resumebgColor:rgb(31, 31, 31); 
  --themeColor:rgb(128 5 251); 
  --resumeAnchorTagColor: #58a6ff;
  --resumeUnderline:rgb(100, 100, 100);
}




.re_body{
  color: var(--resumecolor);
  /* color: var(--resumebgColor); */
     background-color: var(--resumebgColor);
   /* width: 100%;
    height: 900px; */
    /* height: auto; */

}
.resumeName{
  /* color: var(--resumecolor); */
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}
.resumeRole{
  /* color: var(--resumecolor); */
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}


.re_header{
  /* color: var(--resumecolor); */
    /* background-color: red; */
    width:1260px;
    height: 1200px;
}
.re_body{
    padding: 100px;
    /* background-color:blue; */
    width: 1260px;
    height: 1200px;
    display: flex;
    justify-content: center;
}
.da_head{
    width: 430px;
    /* background-color: rgb(8, 199, 164); */
    height: 1000px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.da_body{
    width: 450px;
    height: 1000px;
    /* background-color: rgb(12, 79, 138);  */
}
.re_underline{
  width: 450px;
  height: 2px;
  background-color: var(--resumeUnderline) ;
  margin-bottom: 4px;
}
.re_honorAndAwards, .re_experience,.re_education,.re_publishes{
  margin-top: 10px;
}
.david-img{
    padding-top: 20px;
}

.re_socialMedia{
    width: 400px;
    height: 140px;
    /* background-color: red; */
    transform: translateX(35px);
    /* padding-left: 35px; */
    margin-top: 8px;
    margin-bottom: 5px;
    display: flex;
  }
  .re_socialMedia_icons{
    width: 250px;
    height: 140px;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  
  }
  .re_socialMedia_urls{
    /* width: 40px; */
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: yellow; */
    transform: translateX(-32px);
  }


  .re_socialMedia_urls a{
    color: var(--resumeAnchorTagColor);
  }
  .re_socialMedia_urls a span{
    text-decoration: underline;
  }
  .re_socialMedia_urls .re_github_url,.re_linkedin_url,.re_mail_url,.re_whatsapp_url{
  font-size: 14px;
  margin-left: 4px;
  }
  .re_socialMedia_urls .re_linkedin_url_div{
    transform: translateY(-2px);
  }
  
  .re_whatapp_url_div {
    transform: translateY(3px);
    /* background-color: red;
    color: red; */
  }
  .re_socialMedia_urls .re_github_url_div{
    transform: translateY(-3px);
  }
  .re_role{
    margin: 4px;
    /* background-color: aqua; */
  }
  .re_skills_div{
    transform: translateX(-94px);
    margin-top: 8px;
  }
  .re_frontend_div{
    transform: translateX(-78px);
    font-size: 15px;
    margin-top: 8px;
  }
  .re_backend_div {
    transform: translateX(-78px);
    font-size: 15px;
    margin-top: 8px;
  }
  .re_backend_div_testing_tools_div{
    transform: translateX(-62px);
    font-size: 15px;
    margin-top: 8px;
    /* background-color: red; */
  }
  .re_backend_div_testing_tools_div span{
    color: var(--resumecolor);;
    font-weight: bold;
  }
  .re_backend_div span{
    color: var(--resumecolor);;
    font-weight: bold;
  }

  .backend_skills_ul_testing{
    transform: translateX(-49px);
  }
  .re_frontend_div span{
    color: var(--resumecolor);;
    font-weight: bold;
  }
  .re_skills_div span{
    color: var(--resumecolor);;
    font-weight: bold;
  }
  .borderdiv{
    width: 324px;
    height: 2px;
    transform: translateX(40px);
    background-color: var(--resumeUnderline);
  }
  .re-skills_ul{
    transform: translateX(-39px);
    /* background-color: red; */
  }
  .re-backend_skills_ul{
    transform: translateX(-40px);
  }
  .re-backend_skills_ul ul li {
    font-size: 14px;
    margin-top: 8px;
    /* list-style-type: square; */
     list-style-type: disc;
    list-style-position: inside;
  }
/* /// */
.re-backend_skills_ul_testing ul {
  transform: translateX(-28px);
}

.re-backend_skills_ul_testing  ul li {
  font-size: 14px;
  margin-top: 8px;
  /* list-style-type: square; */
   list-style-type: disc;
  list-style-position: inside;
}

 /* ///  */
  .re-skills_ul ul li {
    font-size: 14px;
    margin-top: 8px;
    /* list-style-type: square; */
     list-style-type: disc;
    list-style-position: inside;
  }
  .re_about--content{
  text-align: justify;
  /* padding: 20px; */
  }
  .re_about--content {
    width: 450px;
    height: 340px;
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 14px;
    line-height: 18px;
    /* color: var(--resumecolor); */
    /* color: black; */
    padding-top: 20px;
    /* background-color: red; */
  }
  .re_publish_ul {
    /* background-color: red; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

  }
  .re_publish_ul div{
   margin-top: 5px;
   margin-bottom: 7px;
  }


  .re_publish_ul div a {
    font-size: 14px;
    color: var(--resumeAnchorTagColor);
    text-decoration: underline;
  }

