:root {
  /* --aboutcolor: rgb(68, 66, 66);
  --aboutbgColor:white; */
  --themeColor:rgb(128 5 251);
  /* --aboutImageOpacity:1.0; */


}
.dark-theme {
  /* --aboutcolor: #c5c5c5;
  --aboutbgColor:rgb(31, 31, 31); */
  --themeColor:rgb(128 5 251);
  /* --aboutImageOpacity:0.8; */
}




.da-resume{
    /* background-color: red;
    width: 100%;
    height: 900px; */
    /* height: auto; */
}
.re_header{
    /* background-color: red; */
    width: 100%;
    height: 900px;
}
.re_body{
    padding: 10vh;
    /* background-color:blue; */
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
}
.da_head{
    width: 30%;
    /* background-color: rgb(8, 199, 164); */
    height: 500px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.da_body{
    width: 450px;
    height: 500px;
    /* background-color: rgb(12, 79, 138);  */
}
.re_underline{
  width: 450px;
  height: 2px;
  background-color: rgb(100, 100, 100);
  margin-bottom: 4px;
}
.re_honorAndAwards, .re_experience,.re_education,.re_publishes{
  margin-top: 10px;
}
.david-img{
    padding-top: 20px;
}

.re_socialMedia{
    width: 300px;
    height: 120px;
    /* background-color: red; */
    padding-left: 45px;
    display: flex;
  }
  .re_socialMedia_icons{
    width: 30px;
    height: 100%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  
  }
  .re_socialMedia_urls{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .re_socialMedia_urls a{
    color: var(--homeAnchorTagColor) ;
    opacity: var(--homeImageOpacity);
  }
  .re_socialMedia_urls .re_github_url,.re_linkedin_url,.re_mail_url,.re_whatsapp_url{
  font-size: 12px;
  margin-left: 4px;
  }
  .re_socialMedia_urls .re_linkedin_url_div,.re_whatsapp_url_div{
    transform: translateY(-4px);
  }
  .re_socialMedia_urls .re_github_url_div{
    transform: translateY(-6px);
  }
  .re_role{
    margin: 4px;
    /* background-color: aqua; */
  }
  .re_skills{
    /* margin: start; */
    /* text-decoration: underline; */
    margin-top: 8px;
    transform: translateX(-73px);
    /* background-color: yellow; */
  }
  .borderdiv{
    width: 238px;
    height: 1px;
    transform: translateX(22px);
    background-color: rgb(15, 15, 15);
  }
  .re-skills_ul{
    transform: translateX(-49px);
  }
  .re-skills_ul ul li {
    font-size: 12px;
    margin-top: 8px;
  }
  .re_about--content{
  text-align: justify;
  /* padding: 20px; */
  }
  .re_about--content {
    width: 450px;
    height: 340px;
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 12px;
    line-height: 18px;
    color: var(--aboutcolor);
    padding-top: 20px;
    /* background-color: red; */
  }
  .re_publish_ul li{
   margin: 4px;
  }
  .re_publish_ul li span{
    text-decoration: underline;
    color: var(--themeColor);
  }

  /* .re_publishes--content {
    width: 450px;
    height: 400px;
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 1px; */
    /* font-size: 17px; */
    /* line-height: 20px; */
    /* color: var(--publishesColor); */
  /* } */

  /* .re_publishes--content a{
    color: var(--publishesAnchorTagColor);

  }

  .re_publishes--content {
    color: var(--themeColor);
  }
  .re_webapp{
    box-shadow: var(--publishesBoxShadow);
    padding: 5px;
    margin: 5px;
    word-wrap: break-word;
    } */