:root {
  --color: rgb(68, 66, 66);
  --skillsbgColor:white;
  --themeColor:rgb(128 5 251);


}
.dark-theme {
  --color: rgb(246, 244, 244);
  --skillsbgColor:rgb(31, 31, 31);
  --themeColor:rgb(128 5 251);
}



/* Base Styles */
.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 20px;
    background-color: var(--skillsbgColor);
    position: relative;
  }
  
  .skills--img .honorsAndAwards {
    width: 400px;
  }
  
  .skills--content {
    text-align: center;
    font-size: 25px;
    word-spacing: 1px;
  color: var(--themeColor);
    transform: translateY(10%);
  }
  .skills--content h4{
    color: var(--themeColor);
  }
  
  .skills--content {
    width: 500px;
    height: 125px;
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 15px;
    line-height: 20px;
    color: rgb(68, 66, 66);
  }
  
  .none {
    display: none;
  }
  
  .block {
    display: inline;
  }
  .frontend-content{
    line-height: 20px;
    margin: 5px;
    color: var(--color);
  }
  .backend-content{
    margin: 5px;
    color:var(--color);
  }
  
  
  
  
  
  /* Media Queries */
  @media only screen and (max-width: 576px) {
    .skills {
      flex-direction: column;
      padding-top: 1rem;
    }
  
  
    .skills--img .honorsAndAwards {
      width: 300px;
      height: 260px;
      transform: translateY(24px);
    }
  
    .skills--content {
      font-size: 18px;
      word-spacing: 1px;
      transform: translateY(0%);
    }
  
    .skills--content {
      width: 300px;
      height: 300px;
      text-align: justify;
      font-size: 14px;
      line-height: 23px;
      color: rgb(68, 66, 66);
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .skills {
      flex-direction: column;
      padding-top: 1rem;
      height: 800px;
    }
  
    .skills--img .honorsAndAwards {
      width: 400px;
      height: 350px;
      transform: translateY(-120px);
    }
  
    .skills--content {
      font-size: 16px;
    }
  
    .skills--content{
      width: 400px;
      height: 100px;
      font-size: 12px;
      line-height: 22px;
      transform: translateY(-130px);
      margin: 5px;
    }
  }
  
  @media only screen and (min-width: 767px) and (max-width: 992px) {
    .skills {
      flex-direction: column;
      padding-top: 1rem;
      height: 800px;
    }
  
    .skills--img .honorsAndAwards {
      width: 400px;
      height: 350px;
      transform: translateY(-100px);
    }
  
    .skills--content {
      width: 400px;
      height: 100px;
      font-size: 13px;
      line-height: 22px;
      transform: translateY(-100px);
    }
  }
  
  